.btn {
  text-decoration: none !important;
}

.body {
  height: 60px;
  border-radius: 20px;
  color: rgb(31, 26, 15);
  background-color: rgb(27, 228, 124);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  border: 2px solid black;
  margin: 0.6rem;
}

.title {
  text-transform: capitalize;
  margin: 3px;
  padding: 2px;
  font-size: 1.2rem;
  font-weight: bold;
}
