@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #FFffff 0%, #B4CEFF 100%);
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition: 1s;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pacifico;
  font-size: 55px;
  padding: 10px;
  margin-top: 5px;
}
.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 15px 0 0 15px;
  outline: none;
  transition: 0.5s;
}
.search-bar:focus {
  outline: 2px solid #7c776e;
  border-radius: 1 rem;;
}
.search-form:hover {
  transform: scale(1.1);
}
.search-btn:hover {
  background: rgb(248, 160, 28);
}
.search-btn {
  background: #9e2a2b;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 0 15px 15px 0;
  transition: 0.5s;
}
.form-check {
  position: absolute;
  right: 2vw;
  top: 12.5vh;
}
.container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
  transition: 0.3s;
}

.button-container:hover {
  transform: scale(1.1);
}
.card {
  transition: 0.3s;
  border-radius: 2rem;
}
.card:hover {
  transform: scale(1.1);
}
.card-body {
  outline: none;
  margin: 0;
  background-color: #9e2a2b;
  border-radius: 2rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  
}

.see-recipe-btn {
  width: 265px;
  align-items: center;
  border: none;
  border-radius: 30px;
  transition: 0.3s;
  background: linear-gradient(to right,#8a5a44,#b07d62,#deab90);
  /*background-color: #B193AF;*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  
}
.see-recipe-btn:hover {
  transform: scale(1.1);
  background-color: #B193AF;
}

.loadMoreButton {
  background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  /* Add a slightly darker box shadow to the bottom right */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.loadMoreButton:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
.logo {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.card-img-top{
  border-radius: 2rem;
  padding: 0.7rem;
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-img-top:hover{
  transform: scale(1.05);
  border-radius: 2.3rem;

}


